<!DOCTYPE html>
<html>
<head>
    <title>Footer Example</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
        }

        .footer a {
            color: white;
            text-decoration: none;
            padding: 15px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="content">
        <!-- محتوى الصفحة -->
    </div>
    
    <div class="footer">
        <a href="{% url 'teachers' %}">Home</a>
        <a href="{% url 'notifications_m' %}">Notifications</a>
        <a href="{% url 'updateProfilet' %}">Account</a>
    </div>
</body>
</html>
